@import '../../../styles/beaver/variables';

.yui-select {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 100%;

  &__element {
    width: 100%;
    outline: none;
    border: 0;
    text-align: left;
    text-overflow: ellipsis;
    font-family: inherit;
    font-size: map-get($select, 'font-size');
    line-height: 20px;
    height: map-get($select, 'height');
    font-weight: map-get($select, 'font-weight');
    letter-spacing: map-get($select, 'letter-spacing');
    color: map-get($colors, black);
    margin: map-get($select, 'margin-y') 0;
    border-bottom: 1px solid map-get($colors, 'grey10');
    border-radius: map-get($select, 'border-radius');
    background: map-get($colors, 'grey10');
    box-sizing: border-box;
    transition: border-color 0.15s linear;

    &:hover {
      border-bottom: 1px solid map-get($colors, 'grey30');
    }
  }

  &__helper,
  &__label {
    display: inline-block;
    position: absolute;
    max-width: 100%;
    font-family: inherit;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    color: map-get($colors, 'grey60');
  }

  &__helper {
    left: 0;
    bottom: 4px;
  }

  &__label {
    left: 0;
    top: 4px;
    transition: all 0.2s linear;
  }

  &__element &__input {
    font-size: map-get($select, 'font-size');
    line-height: map-get($select, 'line-height');
    letter-spacing: map-get($select, 'letter-spacing');
    margin: 0 0 0 8px;
  }

  &__element &__control {
    border: 0;
    padding: 0 12px;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    height: map-get($select, 'height');
  }

  &__element &__placeholder {
    font-size: map-get($select, 'font-size');
    line-height: map-get($select, 'line-height');
    letter-spacing: map-get($select, 'letter-spacing');
    margin-left: 0;
    margin-right: 0;
  }

  &__element &__value-container {
    font-size: map-get($select, 'font-size');
    line-height: map-get($select, 'line-height');
    letter-spacing: map-get($select, 'letter-spacing');
    height: map-get($select, 'height');
    padding: 0;
  }

  &__element &__single-value {
    color: map-get($colors, black);
    margin: 0;
  }

  &__caret {
    color: map-get($colors, 'grey30');
  }

  &__indicator-separator {
    display: none;
  }

  &__element &__menu {
    top: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 5px rgba(178, 180, 191, 0.2), 0 3px 14px rgba(178, 180, 191, 0.12), 0 8px 10px rgba(178, 180, 191, 0.14);
    &-list {
      padding: 8px 0;
    }
  }

  &__element &__option {
    padding: 10px 12px;

    &--is-focused {
      background-color: map-get($colors, 'grey05');
      outline: none;
      cursor: pointer;
    }

    &--is-selected,
    &--is-selected:active {
      background-color: map-get($colors, accent);
    }
  }

  &--white &__element {
    background: map-get($colors, 'white70');
  }

  // With icon

  &--icon &__control {
    padding: 0 8px;
  }

  &--icon &__placeholder {
    left: 32px;
  }

  &--icon &__single-value {
    left: 32px;
  }

  &--icon &__icon {
    color: map-get($colors, 'grey30');
  }

  &--empty &__label {
    font-size: map-get($select, 'font-size');
    line-height: map-get($select, 'line-height');
    padding: 0 12px;
    top: map-get($select, 'margin-y')
  }

  &--error &__element {
    border-bottom: 1px solid map-get($colors, error);
  }

  &--error &__label,
  &--error &__helper {
    color: map-get($colors, error);
  }

  &--active &__element {
    border-bottom: 2px solid map-get($colors, accent);
  }

  &--active &__element:not([placeholder]) + &__label,
  &--empty &__element[placeholder] + &__label {
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    top: 4px;
  }

  &--active &__label,
  &--active &__helper {
    color: map-get($colors, accent);
  }

  &--active#{&}--error &__label,
  &--active#{&}--error &__helper {
    color: map-get($colors, error);
  }

  &--active#{&}--error &__element {
    border-bottom: 2px solid map-get($colors, error);
  }

  &--disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.4;
  }

  &--disabled &__element {
    border-bottom: 1px solid map-get($colors, 'grey10');
  }

  &--disabled &__label,
  &--disabled &__helper {
    color: map-get($colors, 'grey60');
  }
}
